.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  padding: 10px 20px;
  color: #ffffff;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.highlight {
  color: #66ccff;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.active {
  text-decoration: underline;
}