.menu-section {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../assets/banner-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 60px 20px;
  height: 311px;


}

.menu-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 600;
  line-height: 111.15px;
  letter-spacing: 0.03em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-shadow: 4px 3px 0px #800020, 4px 3px 5px rgba(0, 0, 0, 0.7);



}

.menu-section p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  font-family: Kelly Slab;
}