.menu-details-container {
  position: relative;
  width: 100%;
  padding: 40px;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%),
    url('../../assets/menu-back.png');
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Arial", sans-serif;
  padding-top: 80px;
}

.menu-title {
  display: flex;
  font-family: Oswald, sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 3px;
  color: #f8f8f8;
  text-transform: uppercase;
  position: relative;
  text-shadow: 4px 3px 0px #800020, 4px 3px 5px rgba(0, 0, 0, 0.7);
}

.menu-container-wrapper {
  border: 1px solid white;
  padding-bottom: 80px;



}

.menu-title::before,
.menu-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 15px;
}

.menu-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  font-family: Kelly Slab, sans-serif;
}

.top-left-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130px;
  height: auto;
  z-index: 2;
  transition: width 0.3s ease-in-out;
}

.bottom-right-image {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 192px;
  height: auto;
  z-index: 2;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .top-left-image {
    width: 100px;
  }

  .bottom-right-image {
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .top-left-image {
    width: 80px;
  }

  .bottom-right-image {
    width: 120px;
  }
}

@media screen and (max-width: 480px) {
  .top-left-image {
    width: 60px;
    top: 5px;
    left: 5px;
  }

  .bottom-right-image {
    width: 90px;
    bottom: 5px;
    right: 5px;
  }
}

.menu-item {
  width: 48%;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-family: Oswald, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: Oswald;
}

.menu-dots::after {
  content: "............................................................";
  font-family: Oswald, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 10px;
  font-family: Oswald;
}

.item-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.item-description {
  font-size: 1rem;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.no-items {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

/* Responsive Adjustments */
@media screen and (max-width: 1024px) {
  .menu-item {
    width: 48%;
    border-top: 20px;
  }

  .menu-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-item {
    width: 100%;
    border-top: 20px;
  }

  .menu-item-container {
    flex-direction: column;
    gap: 15px;
  }

  .menu-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .menu-details-container {
    padding: 20px;
  }

  .menu-title {
    font-size: 1.5rem;
  }

  .menu-item {
    width: 100%;
    padding: 15px;

  }

  .item-header {
    font-size: 1rem;
  }

  .item-name {
    font-size: 1.2rem;
  }

  .item-price {
    font-size: 1rem;
  }

  .item-description {
    font-size: 0.9rem;
  }

  .top-left-image,
  .bottom-right-image {
    width: 70px;
  }
}